aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.2.0
alembic==1.14.1
anaconda-anon-usage==0.5.0
annotated-types==0.6.0
anyio==4.8.0
archspec==0.2.3
asttokens==3.0.0
attrs==24.3.0
backoff==2.2.1
bokeh==3.6.2
boltons==24.1.0
Bottleneck==1.4.2
Brotli==1.0.9
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
conda==25.1.1
conda-anaconda-telemetry==0.1.2
conda-anaconda-tos==0.1.2
conda-content-trust==0.2.0
conda-libmamba-solver==25.1.1
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
confluent-kafka==2.4.0
contourpy==1.3.1
cryptography==43.0.3
cycler==0.11.0
debugpy==1.8.11
decorator==5.2.1
diskcache==5.6.3
distro==1.9.0
dnspython==2.4.2
docker-pycreds==0.4.0
emoji==2.14.1
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.13.1
fonttools==4.55.3
frozendict==2.4.2
frozenlist==1.5.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.63.2
google-api-core==2.19.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
gql==3.5.1
graphql-core==3.2.3
greenlet==3.1.1
hdbscan==0.8.39
httplib2==0.22.0
idna==3.7
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.4
Jinja2==3.1.5
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyterlab_widgets==3.0.13
jupyter_client==8.6.3
jupyter_core==5.7.2
kafka-python==2.0.5
kiwisolver==1.4.8
libmambapy==2.0.5
lightgbm==4.6.0
Mako==1.3.9
markdown-it-py==2.2.0
MarkupSafe==2.1.5
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.0
menuinst==2.2.0
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.1.0
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.3
numexpr==2.10.1
numpy==2.1.2
numpy==2.2.2
openpyxl==3.1.5
optuna==4.2.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pickleshare==0.7.5
pillow==11.0.0
pillow==11.1.0
pip==25.0.1
pip==25.0
platformdirs==3.10.0
pluggy==1.5.0
ply==3.11
prompt_toolkit==3.0.50
propcache==0.2.0
protobuf==4.25.3
proto-plus==1.24.0
psutil==5.9.0
pure_eval==0.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.6
pycparser==2.21
pydantic==2.10.3
pydantic_core==2.27.1
pydotplus==2.0.2
Pygments==2.15.1
pymongo==4.8.0
pyopencl==2025.1
pyOpenSSL==24.2.1
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytools==2025.1.1
pytz==2024.1
pyu2f==0.1.5
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.30.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
saspy==3.7.2
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentry-sdk==2.22.0
setproctitle==1.3.5
setuptools==72.1.0
sip==6.7.12
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.37
stack_data==0.6.3
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.5.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
truststore==0.10.0
typing_extensions==4.12.2
tzdata==2023.3
unicodedata2==15.1.0
uritemplate==4.1.1
urllib3==2.3.0
uuid_utils==0.10.0
wandb==0.19.7
wcwidth==0.2.13
weave==0.51.35
wheel==0.45.1
widgetsnbextension==4.0.13
win-inet-pton==1.1.0
xgboost==2.1.1
xyzservices==2022.9.0
yarl==1.18.0
zipp==3.21.0
zstandard==0.23.0
